.menu-logo{
    position: fixed;
}
.menu-logo:hover{
    transform: scale3d(1.1, 1.1, 1.1);
    background-color: black;
}
.space-between{
    display: flex;
    justify-content: space-between;
}

