.elements-list {
  margin: 10px;
  background-color: #fff;
  display: grid;
  grid-template-columns: 50% 50%;
}

.element-item {
  margin: 10px;
  border: 1px solid #ccc;
  cursor: grab;
  background-color: #f9f9f9;
  transition: background-color 0.3s;
}

.element-item:hover {
  background-color: #eaeaea;
}
