.properties-section {
  padding: 10px;
  border: 1px solid #ddd;
  background-color: #f8f8f8;
}

.property-group {
  margin-bottom: 6px;
}

.property-group label {
  margin-right: 8px;
  font-weight: bold;
  font-size: 14px;
}

.property-group select,
.property-group input[type="text"], input[type="number"]{
  padding: 5px;
  padding-left: 8px;
  font-size: 12px;
  border: 1px solid #ccc;
  border-radius: 8px;
}
.delete-btn {
  background-color: #dc3545;
  color: white;
  border: none;
  padding: 10px 20px;
  border-radius: 4px;
  cursor: pointer;
  margin-top: 20px;
  width: 100%;
  text-align: center;
}

.delete-btn:hover {
  color: white;
  background-color: #7a0000;
}
.property-group button {
  margin-right: 8px;
  padding: 4px 8px;
  border: 1px solid #ccc;
  background-color: #f9f9f9;
  cursor: pointer;
}

.property-group button.active {
  background-color: #ddd;
  font-weight: bold;
}
