
.workspace-item {
  position: absolute;
  cursor: grab;
  border: 1px dashed #999;
  background-color: #f4f4f4;
}

.workspace-item.dragging {
  cursor: grabbing;
  opacity: 0.8;
}

.workspace {
  min-width: 2000px; /* Extend the workspace width beyond the screen */
  min-height: 5000px; /* Keep the large vertical workspace */
  position: relative;
  background-color: #ffffff;
  border: 1px solid #ddd;

}

.workspace-container {
  position: relative;
  width: 80%; /* Adjust width as needed */
  aspect-ratio: 16 / 9; /* Maintain aspect ratio */
  margin: auto;
  border: 2px solid #ccc;
  overflow: auto; /* Enable scrolling if elements overflow */
  background-color: #f9f9f9;
  max-height: 90vh; /* Prevent Workspace from exceeding the viewport height */
  max-width: 90vw; /* Prevent Workspace from exceeding the viewport width */
}


/* Properties section fixed size */
.floating-button {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  font-size: 24px;
  z-index: 1000;
}

.background-menu {
  position: absolute;
  top: 60px;
  right: 10px;
  background: #fff;
  border: 1px solid #ddd;
  border-radius: 5px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  padding: 10px;
  z-index: 1000;
}

.background-menu button {
  display: block;
  margin: 5px 0;
  padding: 10px;
  background: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  width: 100%;
  cursor: pointer;
  text-align: left;
}

.background-menu button:hover {
  background: #0056b3;
}

