.mainapp-container {
    text-align: center;
    margin-top: 50px;
  }
  
  .mainapp-btn {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  
  .floating-options {
    display: flex;
    justify-content: center;
    margin: 0;
  }
  
  .option-btn {
    padding: 10px 20px;
    font-size: 14px;
    background-color: var(--primary-color);
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 1s ease-in-out;
    transform: translateX(-100%);
    opacity: 0;
  }

  .option-btn.slide-out {
    transform: translateX(0%);
    opacity: 1;
  }

  .Start-button{
    transition: all .3s ease;
  }
  .Start-button:hover{
    transform: scale3d(1.25, 1.25, 1.25);

  }
  
  .option-btn:hover {
    background-color:#1500ff ;
  }
